html,
body {
  background-color: #7A7A7A;
}

.App {
  text-align: center;
  display: flex;
}

.game {
  width: 70vw;
}

.score-container {
  width: 30vw;
}

.score {
  background-color: #46EB7D;
  color: white;
  padding-top: 2em;
  border-radius: 30px;
  margin-top: 1em;
}

.cards {
  display: flex;
}

.card {
  width: 10vw;
  margin: 3.75vw;
}

#logo {
  width: 20vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

.score button {
  padding: 30px;
  border-radius: 10px;
  border: solid #7A7A7A;
}

.score h1 {
  border: solid #7A7A7A;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 10px;
}

.card button {
  border-radius: 10px;
  padding: 0;
  background-color: black
}

.card img {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
